<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>interior</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/contacts.css">
</head>

<body>
    <div class="container">
        <div class="slider-cn padding-site">
            <div class="header clearfix">
                <a href="#"><img src="/static/img/logo.svg" alt="logo"></a>
                    <ul class="menu clearfix">
                        <li class="menu-list"><a href="/" class="menu-link">HOME</a></li>
                        <li class="menu-list"><a href="/product/" class="menu-link">PRODUCTS</a></li>
                        <li class="menu-list"><a href="/history/" class="menu-link">HISTORY</a></li>
                        <li class="menu-list"><a href="/showroom/" class="menu-link">SHOWROOM</a></li>
                        <li class="menu-list"><a href="/contacts/" class="menu-link menu-link-active">CONTACT</a></li>
                        <li class="menu-list"><a href="#" class="menu-link"><img src="/static/img/search.svg" alt="search"></a></li>
                    </ul>
            </div>
            <div class="contactus1">
                <h2 class = "contactus2">Contact Us</h2>
            </div>
        </div>
        <div class="TriPorosenka clearfix padding-site">
            <table class="tbl clearfix">
                <tr>
                    <td class="tbl-td">
                        <div class="nav">
                            <img src="/static/img/point.png" alt="update" HEIGHT="48" width="33"><br><br>
                            <p>California</p><br>
                            <p>Phone:</p>
                            <p>1234 - 5678 - 9101</p><br>
                            <p>Email:</p>
                            <p>info@interior.com</p><br>
                            <p>Address:</p>
                            <p>Вест коуст, 90001 Лос Angeles, California</p>
                        </div>
                    </td>
                    <td class="tbl-td">
                        <div class="nav">
                            <img src="/static/img/point.png" alt="update" HEIGHT="48" width="33"><br><br>
                            <p>California</p><br>
                            <p>Phone:</p>
                            <p>1234 - 5678 - 9101</p><br>
                            <p>Email:</p>
                            <p>info@interior.com</p><br>
                            <p>Address:</p>
                            <p>Вест коуст, 90001 Лос Angeles, California</p>
                        </div>
                    </td>
                    <td class="tbl-td">
                        <div class="nav">
                            <img src="/static/img/point.png" alt="update" HEIGHT="48" width="33"><br><br>
                            <p>California</p><br>
                            <p>Phone:</p>
                            <p>1234 - 5678 - 9101</p><br>
                            <p>Email:</p>
                            <p>info@interior.com</p><br>
                            <p>Address:</p>
                            <p>Вест коуст, 90001 Лос Angeles, California</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
       <div class="TextMe container8">
        <div class="Contacts">
            <p class="contactUs">Contact Us</p>
            <p class="adress">132A Bridge Road Richmond VIC<br>
                Australia.
                <br>
                <br>
                Talk to us on 1300 132<br>
                info@interior.com</p>
        </div>
        <div class="usefulInfo">
            <p class="useInfo">Useful Information</p>
            <div class="head">
                <div class="leftLinks">
                    <a href="#" class="links8">sales terms</a>
                    <a href="#" class="links8">customer care</a>
                    <a href="#" class="links8">delivery</a>
                </div>
                <div class="rightLinks">
                    <a href="#" class="links8">architect accounts</a>
                    <a href="#" class="links8">careers</a>
                    <a href="#" class="links8">exchanges & returns</a>
                </div>
            </div>
        </div>
        <div class="mail">
            <p class="head2">let's stay in touch</p>
            <p class="subscribe">Suscribe to know about our latest news, products and
                special offers just for suscribers.</p>

            <div class="mailWrap">
                <input type="email" name="email" placeholder="your email address" class="email">
                <img src="/static/img/send.png" class="send">
            </div>
        </div>
    </div>
    <div class="footer container">
        <div class="copy">
            <p>© Copyright - INTERIOR 2016. All Rights Reserved.</p>
        </div>
        <div class="social-links">
            <a href="#" class="social"><img src="/static/img/twitter.png" alt=""></a>
            <a href="#" class="social"><img src="/static/img/google.png" alt=""></a>
            <a href="#" class="social"><img src="/static/img/print.png" alt=""></a>
            <a href="#" class="social"><img src="/static/img/facebook.png" alt=""></a>
        </div>
        <div class="other">
            <a href="#" class="terms">Terms & Conditions / privacy policy & cookies</a>
        </div>
    </div>
    </div>
