<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="project">
    <div class="top-slide">
        <div class="container">
            <div class="slider padding-site">
                <div class="header clearfix">
                    <a href="#"></a><img src="/static/img/logo.svg" alt="logo">
                    <ul class="menu clearfix">
                        <li class="menu-list"><a href="/" class="menu-link menu-link-active">HOME</a></li>
                        <li class="menu-list"><a href="/product/" class="menu-link">PRODUCTS</a></li>
                        <li class="menu-list"><a href="/history/" class="menu-link">HISTORY</a></li>
                        <li class="menu-list"><a href="/showroom/" class="menu-link">SHOWROOM</a></li>
                        <li class="menu-list"><a href="/contacts/" class="menu-link">CONTACT</a></li>
                        <li class="menu-list"><a href="#" class="menu-link"><img src="/static/img/search.svg" alt="search"></a></li>
                    </ul>
                </div>
                <div class="slider-text">
                    <p class="slider-trending">TRENDING</p>
                    <h2 class="slider-h2">Fishnet Chair</h2>
                    <p class="slider-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    <a href="" class="button">Order Us <img src="/static/img/arrow.svg" class="sign"></a>
                </div>
                <div class="pagination">
                    <a href="#" class="circle"></a>
                    <a href="#" class="circle circle-active"></a>
                    <a href="#" class="circle"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="f-slide">
        <div class="container">
            <div class="f-header">
                <div class="f-menu">
                    <div class="f-links">
                        <a href="#" class="active-link-F">Featured</a>
                        <a href="#" class="link-f">New</a>
                    </div>
                    <a href="#" class="explore">explore all<img src="/static/img/arrow.svg" class="arrow"></a>
                </div>
                <div class="gallery">
                    <div class="product">
                        <img src="/static/img/cartoon_1.png">
                        <div class="product-swap">
                            <a href="#" class="circle-2">
                                <img src="/static/img/arrow.svg" class="arrow-2"></a>
                            <p class="lamp">Это же лампа?</p>
                            <p class="decsription-1">Я так и не понял почему в макете говорится про стул..<br>На картинке - лампа!</p>
                        </div>
                    </div>
                    <div class="product"><img src="/static/img/cartoon_2.png"></div>
                    <div class="product"><img src="/static/img/cartoon_3.png"></div>
                    <div class="product"><img src="/static/img/cartoon_4.png"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="exclusive-prod">
        <div class="TwoParts">
            <div class="leftPart">
                <div class="leftChair">
                    <p class="exclusive-1">exclusive</p>
                    <p class="chair-1">Fishnet Chair</p>
                    <p class="decsription-2">Seat and back with upholstery made of cold cure foam.<br>
                        Steel frame, available in matt</p>
                    <a href="#" class="button-2">Order Us<img src="/static/img/arrow.svg" class="arrow2"></a>
                </div>
            </div>
            <div class="rightPart">
                <div class="rightChair">
                    <p class="exclusive-2">exclusive</p>
                    <p class="chair-2">Fishnet Chair</p>
                    <p class="decsription-3">Seat and back with upholstery made of cold cure foam.<br>
                        Steel frame, available in matt</p>
                    <a href="#" class="button-3">Order Us<img src="/static/img/arrow.svg" class="arrow-2"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="trending-prod">
        <div class="trend-container">
            <div class="trend-header">
                <p class="trend-prod">Trending Products</p>
                <a href="#" class="trend-explore">explore all<img src="/static/img/arrow.svg" class="sign"></a>
            </div>
            <div class="trend-pict">
                <a href="#" class="picture"><img src="/static/img/cartoon-5.png" alt=""></a>
                <a href="#" class="picture"><img src="/static/img/cartoon-6.png" alt=""></a>
                <a href="#" class="picture"><img src="/static/img/cartoon-7.png" alt=""></a>
                <a href="#" class="picture"><img src="/static/img/cartoon-8.png" alt=""></a>
                <a href="#" class="picture"><img src="/static/img/cartoon-9.png" alt=""></a>
                <a href="#" class="picture"><img src="/static/img/cartoon-10.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="hot-slide">
        <div class="container">
            <p class="hotdeal">hot deal</p>
            <p class="table-1">Fishnet Chair</p>
            <p class="decsription-4">Seat and back with upholstery made of cold cure foam. Steel frame, <br>
                available in matt powder-coated black</p>
            <a href="#" class="hot-button">order us<img src="/static/img/arrow.svg" class="arrow-2"></a>
        </div>
        <div class="pagination padding-site">
            <a href="#" class="circle"></a>
            <a href="#" class="circle circle-active"></a>
            <a href="#" class="circle"></a>
        </div>
    </div>
    <div class="allinclusive">
        <div class="PillowBack">
            <div class="mainPicContent text-margin">
                <p class="exclusive-pillow">exclusive</p>
                <p class="pillow-1">Fishnet Chair</p>
                <p class="pillow-desc">Seat and back with upholstery made of cold cure <br>
                    foam. Steel frame, available in matt</p>
                <a href="" class="button">order us<img src="/static/img/arrow.svg" class="arrow-2"></a>
            </div>
        </div>
        <div class="pictures cartoons-square">
            <a href="#" class="pillows"><img src="/static/img/cartoon-11.png" alt=""></a>
            <a href="#" class="pillows"><img src="/static/img/cartoon-12.png" alt=""></a>
            <a href="#" class="pillows"><img src="/static/img/cartoon-13.png" alt=""></a>
            <a href="#" class="pillows"><img src="/static/img/cartoon-14.png" alt=""></a>
        </div>
    </div>
    <div class="blackhand">
        <div class="thuglife-content">
            <p class="mobileapp">mobile app</p>
            <p class="fff">find.follow.<br>favorite.</p>
            <p class="syfasys">Save your favorites and share your style.</p>
            <a href="#" class="Steve"><img src="/static/img/steve.png" alt=""></a>
            <a href="#" class="Andrew"><img src="/static/img/andrew.png" alt=""></a>
        </div>
    </div>
    <div class="TextMe container8">
        <div class="Contacts">
            <p class="contactUs">Contact Us</p>
            <p class="adress">132A Bridge Road Richmond VIC<br>
                Australia.
                <br>
                <br>
                Talk to us on 1300 132<br>
                info@interior.com</p>
        </div>
        <div class="usefulInfo">
            <p class="useInfo">Useful Information</p>
            <div class="head">
                <div class="leftLinks">
                    <a href="#" class="links8">sales terms</a>
                    <a href="#" class="links8">customer care</a>
                    <a href="#" class="links8">delivery</a>
                </div>
                <div class="rightLinks">
                    <a href="#" class="links8">architect accounts</a>
                    <a href="#" class="links8">careers</a>
                    <a href="#" class="links8">exchanges & returns</a>
                </div>
            </div>
        </div>
        <div class="mail">
            <p class="head2">let's stay in touch</p>
            <p class="subscribe">Suscribe to know about our latest news, products and
                special offers just for suscribers.</p>

            <div class="mailWrap">
                <input type="email" name="email" placeholder="your email address" class="email">
                <img src="/static/img/send.png" class="send">
            </div>
        </div>
    </div>
    <div class="footer container">
        <div class="copy">
            <p>© Copyright - INTERIOR 2016. All Rights Reserved.</p>
        </div>
        <div class="social-links">
            <a href="#" class="social"><img src="/static/img/twitter.png" alt=""></a>
            <a href="#" class="social"><img src="/static/img/google.png" alt=""></a>
            <a href="#" class="social"><img src="/static/img/print.png" alt=""></a>
            <a href="#" class="social"><img src="/static/img/facebook.png" alt=""></a>
        </div>
        <div class="other">
            <a href="#" class="terms">Terms & Conditions / privacy policy & cookies</a>
        </div>
    </div>
</body>


</html>
